<div class='order' *ngFor="let order of orderlist">
	<p>
		<i class="fa fa-hashtag item-icon"
		   aria-hidden="true">
		</i>
		<span class="item">
      {{order.order_num}}
    </span>
	</p>

	<p>
		<i class="fa fa-user item-icon"
		   aria-hidden="true">
		</i>
		<span class="item">
      {{order.costumer}}
    </span>
	</p>

	<p>
		<i class="fa fa-shopping-basket item-icon"
		   aria-hidden="true">
		</i>
		<span class="item">
       {{order.product}}
    </span>
	</p>
	<p>
		<i class="fa fa-question item-icon"
		   aria-hidden="true">
		</i>
		<span class="item">
     {{order.quantity}}
    </span>
	</p>
	<p>
		<i class="fa fa-eur item-icon"
		   aria-hidden="true">
		</i>
		<span class="item">
      {{order.price}}
    </span>
	</p>
	<div class="action-btn">
		<button class="btn btn-primary" id="edit"><i class="fa fa-pencil"></i></button>
		<button class="btn btn-danger" id="delete"><i class="fa fa-trash"></i></button>
	</div>
</div>

