<form class="form" [formGroup]="form" (submit)="onSubmit(form.value)">
	<div class="form-group">
		<div class="input-group"
		     [ngClass]="{'has-error':!form.get('order_num').valid && form.get('order_num').touched}">
			<div class="input-group-addon">
				<i class="fa fa-hashtag" aria-hidden="true"></i>
			</div>
			<input type="text" #order_num class="form-control" id="order_num" formControlName="order_num"
			       name='order_num' placeholder="(e.g) 123B01">
		</div>
		<div class="alert alert-danger" *ngIf="!form.get('order_num').valid && form.get('order_num').touched">Veuillez
			renseigner ce champs.
		</div>
	</div>
	<div class="form-group">
		<div class="input-group" [ngClass]="{'has-error':!form.get('costumer').valid && form.get('costumer').touched}">
			<div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
			<input type="text" #costumer class="form-control" id="costumer" formControlName="costumer" name='costumer'
			       placeholder="(e.g) Sean Check">
		</div>
		<div class="alert alert-danger" *ngIf="!form.get('costumer').valid && form.get('costumer').touched">Veuillez
			renseigner ce champs.
		</div>
	</div>
	<div class="form-group">
		<div class="input-group" [ngClass]="{'has-error':!form.get('product').valid && form.get('product').touched}">
			<div class="input-group-addon">
				<i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</div>
			<input type="text" #product class="form-control" id="product" formControlName="product" name='product'
			       placeholder="(e.g) PlayStation 4">
		</div>
		<div class="alert alert-danger" *ngIf="!form.get('product').valid && form.get('product').touched">Veuillez
			renseigner ce champs.
		</div>
	</div>
	<div class="form-group">
		<div class="input-group" [ngClass]="{'has-error':!form.get('quantity').valid && form.get('quantity').touched}">
			<div class="input-group-addon">
				<i class="fa fa-question" aria-hidden="true"></i>
			</div>
			<input type="text" #quantity class="form-control" id="quantity" formControlName="quantity" name='quantity'
			       placeholder="(e.g) 3">
		</div>
		<div class="alert alert-danger" *ngIf="!form.get('quantity').valid && form.get('quantity').touched">Veuillez
			renseigner ce champs.
		</div>
	</div>
	<div class="form-group">
		<div class="input-group" [ngClass]="{'has-error':!form.get('price').valid && form.get('price').touched}">
			<div class="input-group-addon">
				<i class="fa fa-eur" aria-hidden="true"></i>
			</div>
			<input type="text" #price class="form-control" id="price" formControlName="price" name='price'
			       placeholder="(e.g) 200.99">
		</div>
		<div class="alert alert-danger" *ngIf="!form.get('price').valid && form.get('price').touched">Veuillez
			renseigner ce champs.
		</div>
	</div>
	<button class="btn btn-primary" type="submit" [disabled]="!form.valid" id='btn'><i class="fa fa-plus"
	                                                                                   aria-hidden="true"></i> ADD
	</button>
	<br>
	<!--{{ form.get('costumer').touched}}-->
</form>
